#General use .gitignore for Minecraft modding.

#Folders
/.gradle/*
/.idea/*
/build/*
/eclipse/*
/run/*
/out/*
/asm/*
/bin/*
/download/*
/.settings/*
/eclipse/*
/debug/*
/.metadata/*
/config/*
/logs/*
/saves/*
/releases/*

#File Extensions
*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.lock

#Specific files
MCFPost.txt
options.txt

#Remove OS generated garbage
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

#Vim backups
*~
/bin/
